canvas_binary_host_mirror=https://npm.taobao.org/mirrors/node-canvas-prebuilt/
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
shamefully-hoist=true
strict-peer-dependencies=false
registry=http://192.168.1.70:8081/repository/runafe-group/